.track-song{
  display: inline-block;
  position: relative;
  /* grid-template-columns: 1fr 3fr; */
  width: 100%;
  border: 1px solid black;
  /* font-size: 0.5em; */
  background-color: rgba(196, 196, 196, 0.425);
border: 1px solid red;
  margin: 0;
  text-align: center;

}
.song-body{
  background-image: url(./robo.jpg); 
    background-size: contain ;
}


.song-container{
  border: 1px solid green;
  margin: 0 25%;
}
.track-song:hover{
  background-color: rgba(255, 7, 57, 0.76);
}
.home-pg{
  background-image: url(./robo.jpg); 
  background-size: contain;
  }
  .button-span{
    background: rgb(8, 232, 221);
    padding: 50px; 
    text-align: center;
    display: inline block;
    margin-left: -50px; 
    justify-content: center;
    position: relative;
    
  }
  .home-title{
    border-radius: 25px;
    background: rgba(255, 7, 57, 0.76);
    padding: 250px; 
    width: 200px;
    height: 150px; 
    text-align: center;
    position: absolute;
    top: 10%;
    left: 33%;
    /* margin-top: -50px; */
    margin-left: -50px; 
    width: 100px;
    height: 100px;
  }




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
